/*MOBILE (HP)*/

@media (max-width: 576px) {
  /* navbar */
  .navbar {
    justify-content: space-between;
    padding: 1% 1.5% 1% 3%;
  }

  .navbar .navmiddle {
    display: none;
  }

  .navbar .navright {
    display: none;
  }

  .navbar .nav-respon {
    display: block;
  }

  .navbar .navlist {
    right: 0;
    left: auto;
    background-color: rgba(11, 60, 93, 1);
    border: 1px solid black;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-shadow: 1px 1px 15px black;
    font-weight: 300;
  }

  /* hero */
  .hero .heroleft {
    width: 100%;
    padding: 0 3%;
  }

  .hero .heroleft > h1 {
    font-size: clamp(20px, 6vw, 1.4rem);
  }

  .hero .heroleft > h3 {
    font-size: clamp(18px, 5vw, 1.2rem);
  }

  .hero .heroleft > .btn {
    width: 8rem;
    font-size: clamp(12px, 3.5vw, 0.8rem);
  }

  /* About Us */
  .aboutus {
    height: 100%;
    padding: 5rem 0;
    display: inline-block;
    align-items: center;
  }

  .wrapper {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    /* gap: 14rem; */
    justify-content: space-between;
    padding: 0;
  }

  .aboutus .image-stack {
    width: 100%;
    height: 15rem;
  }

  .aboutus .image-stack .img {
    width: 40%;
    margin: 0 20%;
  }

  .aboutus .image-stack .img-2 {
    top: 70px;
    left: 40px;
  }

  .aboutus .wrapper .descriptionabout {
    width: 70%;
    height: 70%;
    margin: 0 15%;
  }

  .aboutus .wrapper .descriptionabout .top h3 {
    font-size: clamp(20px, 4vw, 1.5rem);
  }
  .aboutus .wrapper .descriptionabout .top h1 {
    font-size: clamp(20px, 4vw, 1.5rem);
    text-align: start;
  }

  .aboutus .wrapper .descriptionabout .top,
  .bottom p {
    text-align: justify;
  }

  /* project */
  .project {
    flex-direction: column;
    gap: 0;
    height: auto;
    /* margin-top: 3rem; */
  }

  .projectleft {
    width: 100%;
    padding: 0 5%;
    padding-top: 3rem;
    background: #f5f7f9;
  }

  .project .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project .slide img {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
  }

  .project .slide p {
    text-align: center;
  }
}

/* Mobile landscape */
@media (min-width: 577px) and (max-width: 767px) {
  /* navbar */
  .navbar {
    justify-content: space-between;
    padding: 1% 1.5% 1% 3%;
  }

  .navbar .navmiddle {
    display: none;
  }

  .navbar .navright {
    display: none;
  }

  .navbar .nav-respon {
    display: block;
  }

  .navbar .navlist {
    right: 0;
    left: auto;
    background-color: rgba(11, 60, 93, 1);
    border: 1px solid black;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-shadow: 1px 1px 15px black;
    font-weight: 300;
  }
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* Navbar */

  /* Hero */

  /* About Us */

  /* Layanan */

  /* Alasan */

  /* Review */

  /* Footer */
}
