/*MOBILE (HP)*/

@media (max-width: 576px) {
  /* navbar */
  .navbar {
    justify-content: space-between;
    padding: 1% 1.5% 1% 3%;
  }

  .navbar .navmiddle {
    display: none;
  }

  .navbar .navright {
    display: none;
  }

  .navbar .nav-respon {
    display: block;
  }

  .navbar .navlist {
    right: 0;
    left: auto;
    background-color: rgba(11, 60, 93, 1);
    border: 1px solid black;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-shadow: 1px 1px 15px black;
  }

  /* hero */
  .hero .heroleft {
    width: 100%;
    padding: 0 3%;
  }

  .hero .heroleft > h1 {
    font-size: clamp(20px, 6vw, 1.4rem);
  }

  .hero .heroleft > h3 {
    font-size: clamp(15px, 4.5vw, 1rem);
  }

  .hero .heroleft > .btn {
    width: 8rem;
    font-size: clamp(12px, 3.5vw, 0.8rem);
  }
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* Navbar */

  /* Hero */

  /* About Us */

  /* Layanan */

  /* Alasan */

  /* Review */

  /* Footer */
}
