* {
  margin: 0;
  padding: 0;
  --primary: #0b3c5d;
  --secondary: #1c6e8c;
  --orange: rgba(249, 115, 22, 0.8);
  font-family: "poppins" sans-serif;
}

a {
  color: white;
  text-decoration: none;
  margin: 0;
}

/* loader section */
body.loading {
  overflow: hidden;
}

#loader {
  position: fixed;
  inset: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

#loader img {
  width: 120px;
  animation: zoom 1.5s ease-in-out infinite;
}

/* animasi logo */
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

/* loader hidden */
#loader.hidden {
  opacity: 0;
  visibility: hidden;
}

/* navbar page */
.navbar {
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  z-index: 99999;
}

.navbar .navleft {
  width: 10rem;
}

.navbar .navmiddle .navlist {
  margin: 0;
  width: 25rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-weight: 500;
}

.navbar .hamburger {
  display: none;
}

.navbar .nav-respon {
  display: none;
}

/* hero page */
.hero {
  background-image: url("../image/workabout.png");
  background-position: center;
  background-size: cover;
  height: 100dvh;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}

.hero .heroleft {
  height: 100%;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  display: flex;
  width: 70%;
  align-items: start;
  padding-left: 5%;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero .heroleft h1 {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid black;
  margin: 0;
  color: white;
  /* font-size: clamp(30px, 5vw, 4rem); */
  font-weight: 600;
  text-shadow: 3px 3px 5px black;
}
.hero .heroleft h3 {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.hero .heroleft > .btn {
  font-weight: 500;
  text-shadow: none;
}

/* portofolio page */
.sectionporto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  margin: 0;
  padding-top: 0.5rem;
}
.sectionporto p {
  margin: 0;
  color: #d6e3ec;
  text-shadow: 0.5px 0.5px 1px white;
}

.sectionporto .section {
  text-align: center;
  width: 200px;
  padding: 1%;
}

.sectionporto .section > h4 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.sectionporto .section:nth-child(1) {
  background-color: #0b2e45;
  color: white;
}
.sectionporto .section:nth-child(2) {
  background-color: #103b5d;
  color: white;
}
.sectionporto .section:nth-child(3) {
  background-color: #154a6a;
  color: white;
}
.sectionporto .section:nth-child(4) {
  background-color: #1a5a7a;
  color: white;
}

/* tentang kami page */
.aboutus {
  height: 80dvh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.wrapper {
  height: 70dvh;
  display: flex;
  /* background-color: black; */
  justify-content: space-around;
  padding: 0 8%;
}

/* top */
.aboutus .image-stack {
  position: relative;
  height: 70%;
  width: 50%;
}

.aboutus .image-stack .img {
  position: absolute;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* gambar atas */
.aboutus .image-stack .img-1 {
  top: 0;
  left: 0;
  z-index: 1;
}

/* gambar bawah */
.aboutus .image-stack .img-2 {
  top: 160px;
  left: 120px;
  z-index: 2;
}

/* bottom */
.aboutus .wrapper .descriptionabout {
  width: 50%;
  height: 70%;
}

.aboutus .wrapper .descriptionabout .top {
  display: inline-block;
}

.aboutus .wrapper .descriptionabout .top > h3 {
  font-size: clamp(30px, 2vw, 2rem);
}
.aboutus .wrapper .descriptionabout .top > h1 {
  font-size: clamp(40px, 4vw, 3rem);
}

.aboutus .wrapper .descriptionabout .bottom {
  display: none;
}

.aboutus .descriptionabout .bottom.active {
  display: inline-block;
}

.aboutus .descriptionabout .button {
  padding: 6px 12px;
  margin-top: 3%;
  color: white;
  border-radius: 6px;
  background-color: var(--secondary);
  border: none;
}

/* project page */
.project {
  display: flex;
  gap: 3rem;
  align-items: center;
  /* padding: 0 1.5rem; */
  height: 90dvh;
  background-color: #f5f7f9;
}

.projectleft {
  flex: 1;
  height: 100%;
  display: flex;
  width: 70%;
  align-items: start;
  padding-left: 5%;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    to right,
    rgba(192, 192, 192, 0.6) 40%,
    rgba(192, 192, 192, 0.4) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.title {
  text-shadow: 2px 2px 2px white;
  font-weight: bold;
  font-size: clamp(40px, 4vw, 3rem);
  letter-spacing: 2px;
  line-height: 1.1;
  color: black;
}

.arrows {
  display: flex;
  gap: 0.75rem;
  margin: 2rem 0 1rem;
}

.project-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--secondary);
}

.project .carousel {
  flex: 1.2;
  overflow: hidden;
}

.project .track {
  display: flex;
  transition: transform 0.5s ease;
}

.project .slide {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.project .slide img {
  width: 60%;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

/* layanan page */
.layanan {
  height: 60%;
}

.layanan h1 {
  padding-top: 2rem;
  text-align: center;
  margin: 0.1rem auto 0.1rem;
  font-weight: 600;
  font-size: clamp(36px, 3.5vw, 3rem);
  line-height: 1.1;
  color: black;
}

.layanan ul {
  list-style-type: none;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.layanan ul li {
  display: inline-block;
  text-align: center;
}

.layanan ul li img {
  width: 250px;
  box-shadow: 0.3rem 0.3rem 0.6rem black;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.layanan ul li > h5 {
  border-radius: 10px;
  background-color: var(--secondary);
  color: white;
  padding: 3%;
  cursor: pointer;
  font-size: 1rem;
}

/* list layanan ketika di klik*/
.list-layanan {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: none;
}

.list-layanan > .btn {
  font-weight: 500;
  text-shadow: none;
}

.list-layanan h2 {
  text-align: center;
  font-weight: 800;
  font-style: underline;
  /* text-shadow: 0.1rem 0.1rem 0.1rem var(--primary); */
}

.product-items {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: auto;
}

.product-card {
  background: white;
  padding: 1rem;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h4 {
  margin-top: 1rem;
  font-size: clamp(25px, 1, 8vw, 1.8rem);
}

/* Alasan */
.alasan {
  background-color: rgba(211, 211, 211, 0.3);
  width: 100%;
  padding-top: 3rem;
  gap: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
}

.alasan h1 {
  padding-top: 2rem;
  text-align: center;
  margin: 0.1rem auto 0.1rem;
  font-weight: 600;
  font-size: clamp(36px, 3vw, 3rem);
  letter-spacing: 2px;
  line-height: 1.1;
  color: black;
}

.alasan .wrapperlistalasan {
  max-width: 1000px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.alasan .wrapperlistalasan .list {
  max-width: 15rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
}

.alasan .wrapperlistalasan .list > h5 {
  margin-bottom: 10px;
  color: black;
  font-size: clamp(18px, 1.1vw, 20px);
}

/* review */
.review .text {
  text-align: center;
}

.review {
  width: 100%;
  padding-top: 3rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
}

.review .text h1 {
  padding-top: 2rem;
  text-align: center;
  margin: 0.1rem auto 0.1rem;
  font-weight: 600;
  font-size: clamp(36px, 3vw, 3rem);
  letter-spacing: 2px;
  line-height: 1.1;
  color: black;
}

.review .wrapperlistreview {
  max-width: 1200px;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review .wrapperlistreview .list {
  max-width: 20rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
}

.review .wrapperlistreview .list .top > img {
  border-radius: 50%;
  box-shadow: 1px 1px 6px black;
  margin-bottom: 5%;
}

.review .wrapperlistreview .list > h5 {
  margin-bottom: 10px;
  color: #4773af;
  font-size: clamp(18px, 1.1vw, 20px);
}

.review .wrapperlistreview .bottom {
  text-align: start;
}

/* footer */
.footer {
  padding: 2rem;
  background-color: #6c7e8e;
  color: white;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .footertop {
  width: 30rem;
}

.footer .footertop > p {
  margin: 2px;
}

.footer .footertop > h2 {
  font-size: clamp(25px, 1.7vw, 1.6rem);
}

.footer .footerbottom > h2 {
  font-size: clamp(25px, 2vw, 2.2rem);
}

.footer .footerbottom .listkontak {
  font-size: 110%;
  width: 8rem;
  display: flex;
  justify-content: space-around;
}

.copyright {
  text-align: center;
  align-items: center;
  padding: 0.6rem;
  color: white;
  font-weight: bold;
  background-color: var(--primary);
}

.copyright > p {
  margin: 0;
}
