* {
  margin: 0;
  padding: 0;
  --primary: #0b3c5d;
  --secondary: #1c6e8c;
  font-family: "poppins" sans-serif;
}

a {
  color: white;
  text-decoration: none;
  margin: 0;
}

/* navbar page */
.navbar {
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navleft {
  width: 10rem;
}

.navbar .navmiddle .navlist {
  margin: 0;
  width: 25rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-weight: 500;
}

.navbar .hamburger {
  display: none;
}

.navbar .nav-respon {
  display: none;
}

/* hero page */
.hero {
  background-image: url("../image/epoxy1.png");
  background-position: center;
  background-size: cover;
  height: 100dvh;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}

.hero .heroleft {
  height: 100%;
  text-shadow: 1px 1px 2px white;
  font-weight: bold;
  display: flex;
  width: 70%;
  align-items: start;
  padding-left: 5%;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6) 40%,
    rgba(255, 255, 255, 0.4) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hero .heroleft h1 {
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid black;
}

.hero .heroleft > .btn {
  font-weight: 500;
  text-shadow: none;
}

/* about us */
.aboutus {
  height: 80dvh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.wrapper {
  height: 70dvh;
  display: flex;
  /* background-color: black; */
  justify-content: space-around;
  padding: 0 8%;
}

/* top */
.aboutus .image-stack {
  position: relative;
  height: 70%;
  width: 50%;
}

.aboutus .image-stack .img {
  position: absolute;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* gambar atas */
.aboutus .image-stack .img-1 {
  top: 0;
  left: 0;
  z-index: 1;
}

/* gambar bawah */
.aboutus .image-stack .img-2 {
  top: 160px;
  left: 120px;
  z-index: 2;
}

/* bottom */
.aboutus .wrapper .descriptionabout {
  width: 50%;
  height: 70%;
}

.aboutus .wrapper .descriptionabout .top {
  display: inline-block;
}

.aboutus .wrapper .descriptionabout .top > h3 {
  font-size: clamp(30px, 2vw, 2rem);
}
.aboutus .wrapper .descriptionabout .top > h1 {
  font-size: clamp(40px, 4vw, 3rem);
}

.aboutus .wrapper .descriptionabout .bottom {
  display: none;
}

.aboutus .descriptionabout .bottom.active {
  display: inline-block;
}

.aboutus .descriptionabout .button {
  padding: 6px 12px;
  margin-top: 3%;
  color: white;
  border-radius: 6px;
  background-color: #027ca8;
  border: none;
}
